<!DOCTYPE html>
<html>
  <head>
    <title>Records</title>
  </head>

  <body>
    <p><a href="/">MLB</a></p>
    <p><a href="/nfl/">NFL</a></p>

    
    <table id ="myTable2">
      <thead>
    
        <tr>
          <th>Team</th>
          <th onclick="sortTable(1)">Wins</th>
          <th onclick="sortTable(2)">Losses</th>
          <th onclick="sortTable(3)">Home Wins</th>
          <th onclick="sortTable(4)">Home Losses</th>
          <th onclick="sortTable(5)">Away Wins</th>
          <th onclick="sortTable(6)">Away Losses</th>
          <th onclick="sortTable(7)">PlusMinus</th>
        </tr>
    
      </thead>
        <tbody>
          {% for row in row_data %}
            <tr>
              {% for col, row_ in zip(column_names, row) %}
              <td>{{row_}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
    
             
        </tbody>
      
    </table>
  </body>
</html>


<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (Number(x.innerHTML) > Number(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (Number(x.innerHTML) < Number(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>